.tab {
    float: left;
    background-color: #f1f1f1;
    width: 30%;
}


.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    height: 112px;
}

.tab button:hover {
    background-color: #cccccc;
}

.tab button:focus {
    background-color: #5387dd;
}

.Menu{
    position: relative;
    top: -40px;
    left: 20px;
    padding: 40px;
    display: table;
}

.Food{
    padding-bottom: 60px;
    float: left;
    width: 50%;
}